.containerFull{
  background: rgb(227,113,57);
  background: linear-gradient(90deg, rgba(227,113,57,1) 0%, rgba(231,143,63,1) 49%, rgba(236,180,70,1) 100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .container{
    width: 900px;
    height: 600px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    position: relative;
    overflow: hidden;
    .left{
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #120d05;
    }
   
    .right{
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .containerLink{
        display: flex;
        justify-content: flex-end;
        height: 30px;
        width: 100%;
      }
      .title{
        font-size: 26px;
        background: -webkit-linear-gradient(#e37139, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .controls{
        width: 300px;
        height: 450px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
