.dashboard{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  .left{
    padding: 10px;
    background-color: #13182b;
    width: 250px;
    border-right: 2px solid #1f2532;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .user{
      background-color: #262941;
      height: 60px;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      box-sizing: border-box;
      .photo{
        width: 50px;
        height: 40px;
        box-sizing: border-box;
        .circle{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #148da1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 28px;
          font-weight: 700;
          border: 2px solid white;
          box-sizing: border-box;
        }
      }
      .data{
        width: 160px;
        .name{
          line-height: 24px;
        }
        .mail{
          font-size: 11px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .controls{
      height: calc(100vh - 70px);
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .topControls{
        background-color: #262941;
        border-radius: 6px;
        box-sizing: border-box;
        .listControls{
          list-style-type: none;
          margin: 0;
          padding: 10px 0;
          .item{
            padding: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .label{
              margin-left: 10px;
              font-size: 15px;
            }
          }
          .item:hover{
            background-color: #3d4160;
          }
        }
      }
      .bottomControls{
        .bottomDisclaimer{
          line-height: 18px;
          font-size: 13px;
          padding: 20px 0;
        }
      }
    }
  }
  .right{
    color: black;
    width: calc(100% - 250px);
    background-color: rgb(241, 241, 241);
    .header{
      border-bottom: 2px solid rgb(199, 199, 199);
      height: 75px;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info{
        font-size: 18px;
      }
    }
    .mainContent{
      background-color: white;
      height: calc(100vh - 75px);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.labels{
  background: -webkit-linear-gradient(#e37139, #e39260);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: #e37139;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}
